@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.City</h1>
    <p>The current time is @DateTime.Now</p>
</div>


<environment include="Production">
    <p>This is development environment</p>
</environment>